<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wimex.mbns">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/noda"
        android:label="NODA"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInSignUp.SigninActivity"
            android:label="Đăng nhập"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".SignInSignUp.SignUp1Activity"
            android:label="Đăng ký"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".SignInSignUp.SignUp2Activity"
            android:label="Nhập mã xác nhận"
            android:parentActivityName=".SignInSignUp.SignUp1Activity" />
        <activity
            android:name=".SignInSignUp.SignUp3Activity"
            android:label="Đăng ký"
            android:parentActivityName=".SignInSignUp.SignUp2Activity" />
        <activity
            android:name=".NguoiMua.GioHang"
            android:label="Giỏ Hàng"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity android:name=".NguoiMua.TrangChu" />
        <activity
            android:name=".TroGiup"
            android:label="Trợ giúp"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".nonuse.ChiTietSanPham"
            android:label="Chi Tiết sản phầm"
            android:parentActivityName=".NguoiMua.SanPhamActivity" />
        <activity
            android:name=".DiaChi.DiaChiActivity"
            android:label="Địa chỉ giao hàng"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".DiaChi.DiaChiMoi"
            android:label="Thêm địa chỉ mới"
            android:parentActivityName=".DiaChi.DiaChiActivity" />
        <activity
            android:name=".SignInSignUp.QuenMatKhau1"
            android:label="Quên mật khẩu" />
        <activity
            android:name=".SignInSignUp.QuenMatKhau2"
            android:label="Quên mật khẩu" />
        <activity
            android:name=".SignInSignUp.QuenMatKhau3"
            android:label="Quên mật khẩu" />
        <activity
            android:name=".NguoiMua.SanPhamActivity"
            android:label="Sản phẩm"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity android:name=".Test" />
        <activity
            android:name=".NguoiMua.DatHangActivity"
            android:label="Đặt hàng"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".NguoiMua.ThongTinTaiKhoanActivity"
            android:label="Thông tin tài khoản"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".NhaSanXuat.ThongTinMoTaActivity"
            android:label="Thông tin mô tả"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity"
            />
        <activity
            android:name=".NhaSanXuat.TaoGianHangActivity"
            android:label="Đăng sản phẩm"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity" />
        <activity
            android:name=".NhaSanXuat.LichSuBanHangActivity"
            android:label="Lịch sử bán hàng"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity" />
        <activity
            android:name=".NguoiMua.NhaSanXuatActivity"
            android:label="@string/title_activity_nha_san_xuat"
            android:parentActivityName=".NguoiMua.DSNSXActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".nonuse.DanhSachNhaSanXuatActivity"
            android:label="xyz"
            android:parentActivityName=".NguoiMua.TrangChu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NguoiMua.DSNSXActivity"
            android:label="@string/title_activity_dsnsx"
            android:parentActivityName=".NguoiMua.TrangChu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NhaSanXuat.TrangChuNSXActivity"
            android:label="Trang chủ"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NhaSanXuat.DanhMucSanPhamNSXActivity"
            android:label="Danh mục"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity" />
        <activity
            android:name=".NhaSanXuat.NhomSanPhamNSXActivity"
            android:label="Nhóm sản phẩm"
            android:parentActivityName=".NhaSanXuat.DanhMucSanPhamNSXActivity" />
        <activity
            android:name=".NhaSanXuat.SanPhamNSXActivity"
            android:label="Sản phẩm"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity" />
        <activity
            android:name=".NguoiMua.LichSuMuaHangActivity"
            android:label="Lịch sử đặt hàng"
            android:parentActivityName=".NguoiMua.TrangChu" />
        <activity
            android:name=".NhaSanXuat.ThongTinTaiKhoanNSXActivity"
            android:label="Thông tin tài khoản"
            android:parentActivityName=".NhaSanXuat.TrangChuNSXActivity" />
        <activity android:name=".TestUploadImageActivity" />
        <activity android:name=".Welcome"
            />
        <activity
            android:name=".NguoiMua.SanPhamChiTietActivity"
            android:parentActivityName=".NguoiMua.VoteActivity" />
        <activity
            android:name=".NguoiMua.VoteActivity"
            android:label="Đánh giá sản phẩm"
            android:parentActivityName=".NguoiMua.TrangChu" />

        <service android:name=".XuLyData.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".XuLyData.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".NguoiMua.ChinhSuaThongTinActivity"
            android:label="Chỉnh sửa thông tin" />
        <activity android:name=".SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchResultActivity"></activity>
    </application>

</manifest>